<h2 class="clear">How It Works</h2>

<div class="span-8">
  <h3>Editor</h3>
  <p>
    Draw a sketch below.
  </p>
  <div style="height:260px;" class="widget">
    <div id="sketchpad_editor"></div>
  </div>
</div>

 <div class="span-8">
  <h3>Result</h3>
  <p>
    The sketch is stored as JSON in an input field.
  </p>
  <form action="" method="post" onsubmit="return false;">
    <textarea id="input1" name="input1" style="margin:0;width:250px;height:250px;"></textarea>
  </form>
</div>

<div class="span-8 last">
  <h3>Viewer</h3>
  <p>
    <a href="javascript:void(0);" id="update_sketchpad_viewer">Click</a>
    to display the JSON data in the viewer.
  </p>
  <div style="height:260px;" class="widget">
    <div id="sketchpad_viewer"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var strokes = [];

    var sketchpad_editor = Raphael.sketchpad("sketchpad_editor", {
      width: 260,
      height: 260,
      editing: true,  // true is default
      strokes: strokes
    });
    sketchpad_editor.change(function() {
      $("#input1").val(sketchpad_editor.json());
    });

    var sketchpad_viewer = Raphael.sketchpad("sketchpad_viewer", {
      width: 260,
      height: 260,
      editing: false
    });

    $("#update_sketchpad_viewer").click(function() {
       sketchpad_viewer.json($('[{"fill":"none","stroke":"#000000","path":"M105,181L105,179L105,172L106,167L106,162L108,156L109,151L109,149L109,144L110,141L110,138L111,134L112,132L114,125L116,116L122,105L126,101L129,94L132,90L133,86L137,82L141,75L144,68L150,61L152,56L153,54L155,51L156,50L158,51L166,61L171,77L174,83L178,94L181,98","stroke-opacity":1,"stroke-width":5,"stroke-linecap":"round","stroke-linejoin":"round","transform":[],"type":"path"}]').val());
    });
      
  });
  function abc(){
    
  }
</script>

<hr class="space" />
